body {
    text-align: center;
    background-color: #53cbe6;
}
#kohli {
    width: 300px;
}
#gill {
     width: 300px;
}
#tendulkar {
     width: 300px;
}
#de villiers {
     width: 300px;
}
#virat {
    font-size: 30px;
}
#shubhman {
    font-size: 30px;
}
#sachin {
    font-size: 30px;
}
#AB {
    font-size: 30px;
}